.formulario {
    width: 50%;
    margin: 10%;
}
.formulario label {
    display: block;
    margin-bottom: 10px;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="tel"],
.formulario textarea,
.formulario select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid  #333;
    border-radius: 5px;
}

.preferencias-contacto {
    margin-bottom: 20px;
   }

.preferencias-contacto label {
    display: block; 
}

.opciones-contacto {
    display: flex;  
}

.opciones-contacto label {
  
    margin-right: 20px;
}

.formulario .botones input[type="reset"],
.formulario .botones input[type="submit"],
.formulario select
{
    padding: 10px 20px; 
    margin-top: 20px;
    margin-right: 30px; 
    border: 1x solid  #333;
    border-radius: 5px;
    background-color:  #333;
    color: white;
    cursor: pointer;
}

/* Media queries para tablet */
@media only screen and (max-width: 1023px) {
    .formulario {
        width: 70%;
        margin: 7%;
    }

    .formulario .botones input[type="reset"],
    .formulario .botones input[type="submit"],
    .formulario select {
        margin-right: 20px;
    }
}

/* Media queries para celular */
@media only screen and (max-width: 767px) {
    .formulario {
        width: 90%;
        margin: 5%;
    }

    .formulario .botones input[type="reset"],
    .formulario .botones input[type="submit"],
    .formulario select {
        margin-right: 10px;
    }
}
